body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  background: radial-gradient(red, white);
  padding: 3rem;
  border: 2px solid black;
}

h2 {
  text-align: center;
}

button {
  padding: 0.5rem;
  margin: 0.4rem 1rem;
  outline: none;
}
button:hover {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}
.fi {
  display: block !important;
}
